<div class="form-signin-container">
  <main class="form-signin card shadow-sm my-4">
    <form [formGroup]='loginForm' (ngSubmit)='submitLogin()' class="text-center">
      <img class="mb-4 img-fluid" src="assets/img/logo.png" alt="Logo" width="72" height="72">
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <div class="form-floating has-validation">
        <input type="email" class="form-control" id="email" name="email" formControlName='email'
          placeholder="name@example.com" required>
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password" required>
        <label for="password">Password</label>
      </div>
      <div *ngIf="data?.status" class="alert alert-danger">
        {{data.message}}
      </div>
      <button class="w-100 btn btn-sm btn-primary" type="submit">Sign in</button>
      <div class="my-2 p-1 auth-links">
        <span class="float-start"><a class="text-decoration-none" routerLink="/auth/forgot-password">Forgot
            password?</a></span>
        <span class="float-end"><a class="text-decoration-none" routerLink="/auth/register">Register</a></span>
      </div>
    </form>
  </main>
</div>
