<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="/img/logo.png" alt="Logo" width="35px" height="35px">
            </a>
            <div class="d-flex">
                <a href="/auth/login" class="btn btn-sm btn-success me-2" type="button">Login</a>
                <a href="/auth/register" class="btn btn-sm btn-secondary" type="button">Register</a>
            </div>
        </div>
    </nav>
</header>