<nav class="navbar navbar-dark bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="assets/img/logo.png" alt="Logo" width="35px" height="35px">
    </a>
    <div class="d-flex">
      <a *ngIf="user !== null" routerLink="#" class="btn btn-sm btn-success me-2" type="button">{{ user.data.email }}</a>

      <a routerLink="/auth/login" class="btn btn-sm btn-success me-2" type="button">Login</a>
      <a routerLink="/auth/register" class="btn btn-sm btn-secondary" type="button">Register</a>
    </div>
  </div>
</nav>
